<ion-header>
  <ion-toolbar >
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="usuario !== undefined && usuario !== null && perfil != undefined && perfil != null">

  <div class="hs-container">
    <ng-container>
      <div class="profile">
        <ion-row>
          <h3 class="ion-padding-horizontal">Datos de Usuario</h3>
        </ion-row>
        <div *ngIf="usuario.rol !== undefined">
          <ion-label>
            <strong>Rol: </strong>
            <span *ngIf="usuario.rol === 0">
              Administrador
            </span>
            <span *ngIf="usuario.rol === 1">
              Moderador
            </span>
            <span *ngIf="usuario.rol === 2">
              Usuario
            </span>
          </ion-label>
        </div>
        <ion-row>
          <ion-label>
            <strong>Username: </strong>
            <span>{{usuario.username}}  </span>
          </ion-label>
        </ion-row>
        <ion-row>
          <ion-label>
            <strong>Correo: </strong>
            <span>{{usuario.email}}</span>
          </ion-label>
        </ion-row>
        <ion-row>
          <ion-label *ngIf="usuario.phone != null || usuario.phone != undefined">
            <strong>Telefono: </strong>
            <span>{{usuario.phone}}</span>
          </ion-label>
        </ion-row>

      </div>

      <ng-container >
        <h3 class="ion-padding-horizontal">Datos de Perfil</h3>

        <ion-grid class="hs-bg-white ion-no-padding">
          <ion-row>
            <ion-col size-md="6" *ngIf="perfil.vistoUltimamente != null || perfil.vistoUltimamente != undefined">
              <ion-item lines="none" >
                <ion-label>
                  <strong>Último Visto</strong>
                  {{perfil.vistoUltimamente}}
                </ion-label>
              </ion-item>
            </ion-col>
            <ion-col size-md="8">
              <ion-item lines="none" *ngIf="perfil.generoPreferido != null || perfil.generoPreferido != undefined">
                <ion-label>
                  <strong>Genero Preferido</strong>
                  {{perfil.generoPreferido}}
                </ion-label>
              </ion-item>
            </ion-col>
            <ion-col size-md="4">
              <ion-item lines="none" *ngIf="perfil.puntuacionPromedio != null || perfil.puntuacionPromedio != undefined">
                <ion-label>
                  <strong>Puntuación Promedio</strong>
                  {{perfil.puntuacionPromedio}}
                </ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="perfil.actoresPreferidos != null || perfil.actoresPreferidos!= undefined">
            <ion-col size-md="4" *ngIf="perfil.actoresPreferidos.length>0">
              <ion-label>
                <strong>Actores Preferidos</strong>
              </ion-label>
              <ion-item lines="none" *ngIf="perfil.actoresPreferidos != null || perfil.actoresPreferidos != undefined">
                <ion-label *ngFor="let actor of perfil.actoresPreferidos" >
                  <p *ngIf="actor != ' ' && actor != null ">
                    {{actor}}
                  </p>
                </ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="perfil.vinculosAsociados != null || perfil.vinculosAsociados!= undefined">
            <ion-col size-md="4" *ngIf="perfil.vinculosAsociados.length>0">
              <ion-label>
                <strong>Vinculos Asociados</strong>
              </ion-label>
              <ion-item lines="none"  >
                <ion-label *ngFor="let vinculo of perfil.vinculosAsociados" >
                  <a href="{{vinculo}}" *ngIf="vinculo != ' ' && vinculo != null ">
                    {{vinculo}}
                  </a>
                </ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size-md="4">
              <ion-item lines="none" *ngIf="perfil.disponibleChat != null || perfil.disponibleChat != undefined">
                <ion-label>
                  <strong>Disponible en Chat</strong>
                  {{perfil.disponibleChat}}
                </ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ng-container>

      <form [formGroup]="editarPerfilForm"
            (ngSubmit)="updateUser()"
            *ngIf="this.editarPerfilForm && editMode "
            method="post">
        <ion-list>
          <ion-grid>
            <ion-row>
              <ion-col size-md="6" size-xs="12">
                <ion-item fill="solid" mode="md" class="hs-textfield">
                  <ion-label position="floating">Actores Preferidos</ion-label>
                  <ion-input formControlName="actoresPreferidos"
                             type="text"></ion-input>
                  <ion-text slot="error">
                    Actores Preferidos Incorrecto
                  </ion-text>
                </ion-item>
              </ion-col>
              <ion-col size-md="6" size-xs="12">
                <ion-item fill="solid" mode="md" class="hs-textfield">
                  <ion-label position="floating">Vinculos Asociados</ion-label>
                  <ion-input formControlName="vinculosAsociados"
                             type="text"></ion-input>
                  <ion-text slot="error">
                    Vinculos Asociados Error
                  </ion-text>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size-md="9" size-xs="12">
                <ion-item fill="solid" mode="md" class="hs-textfield">
                  <ion-label position="floating">Disponible en Chat</ion-label>
                  <ion-checkbox formControlName="disponibleChat" [value]="!editarPerfilForm.get('actoresPreferidos').value"></ion-checkbox>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-list>
      </form>

      <ion-row class="ion-justify-content-center">
        <ion-col size-md="12" size-xs="12" class="ion-text-center">
          <ion-button fill="outline" (click)="changeEditMode()">Edit</ion-button>
          <ion-button type="submit" *ngIf="editMode" (click)="updateUser()">Editar</ion-button>
        </ion-col>
      </ion-row>

      <div *ngIf="editMode">
        <div *ngFor="let genero of generos" >
          <ion-card (click)="guardarGenero(genero)">
            <ion-item >
              <ion-label class="ion-text-wrap">
                <ion-grid class="ion-no-padding">
                  <ion-col>{{genero}}</ion-col>
                </ion-grid>
              </ion-label>
            </ion-item>
          </ion-card>
        </div>
        <ion-row class="ion-justify-content-center">
          <ion-col size-md="12" size-xs="12" class="ion-text-center">
            <ion-button fill="outline" (click)="changeGenero()">Cambiar Genero Preferido</ion-button>
          </ion-col>
        </ion-row>
      </div>
      <ion-item class="ion-justify-content-center">
        <ion-col size-md="12" size-xs="12" class="ion-text-center">
          <ion-button *ngIf="editMode" (click)="borrarCuenta()">Borrar Cuenta</ion-button>
        </ion-col>
      </ion-item>




    </ng-container>

  </div>
</ion-content>
