<ion-header>
  <ion-toolbar>
    <ion-title>Cinuma</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let elemento of elementosRecomendados">
    <ion-card (click)="showTermsModal(elemento)">
      <ion-item>
        <ion-label class="ion-text-wrap">
          <ion-grid class="ion-no-padding">
            <ion-row>
              <ion-col size="9">{{elemento.titulo}}</ion-col>
              <ion-col *ngIf="elemento.tipo == 0" class="ion-text-end"><ion-badge color="primary">SERIE</ion-badge></ion-col>
              <ion-col *ngIf="elemento.tipo == 1" class="ion-text-end"><ion-badge color="primary">PELICULA</ion-badge></ion-col>
            </ion-row>
            <ion-row>
              <ion-col *ngIf="elemento.tipo == 0" class="ion-text-end"><ion-text>{{elemento.capitulos}}</ion-text></ion-col>
              <ion-col *ngIf="elemento.tipo == 0" class="ion-text-end"><ion-text>{{elemento.estreno | date:'dd/MM/yyyy'}}</ion-text></ion-col>
              <ion-col *ngIf="elemento.tipo == 1" class="ion-text-end"><ion-text>{{elemento.estrenoTaquilla | date:'dd/MM/yyyy'}}</ion-text></ion-col>
            </ion-row>
            <ion-row *ngFor="let genero of elemento.genero">
              <ion-col class="ion-text-end"><ion-text>{{genero}}</ion-text></ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>
