<ion-header>
  <ion-toolbar>
    <ion-title>Listas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="this.listas != undefined">
    <div *ngIf="this.listas.length>0">
      <ion-list *ngFor="let lista of listas">
        <ion-card (click)="irADetallesDeLista(lista)">
          <ion-item>
            <ion-grid class="ion-no-padding">
              <div *ngFor="let elemento of lista.elementos">
                <ion-row class="ion-text-start">
                  <ion-col size="6">
                    {{elemento.titulo}}
                    <ion-badge color="primary" *ngIf="elemento.tipo == 0">SERIE</ion-badge>
                    <ion-badge color="primary" *ngIf="elemento.tipo == 1">PELICULA</ion-badge><br>
                  </ion-col>
                </ion-row>
              </div>
              <ion-row>
                <ion-col ><ion-text><strong>Creador:</strong> {{lista.creador}}</ion-text></ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-card>
      </ion-list>
    </div>
  </div>

  <ion-item *ngIf="this.username!= null && this.username!= undefined">
    <ion-button (click)="crearNuevaListaModal()">
      Crear Nueva Lista
    </ion-button>
  </ion-item>
</ion-content>
