ion-menu {
  ion-footer {
    min-height: 56px;
  }
  ion-content {
    --background: var(--ion-color-white);
    background: var(--ion-color-white);
  }
}

// redesign when screen width is at least 992px

@media (min-width: 992px) {
  ion-menu {
    ion-header {
      display: none;
    }
  }
}
:host {
  @media (min-width: 992px) {
    .split-pane-side[side="end"] {
      order: -1;
      border: 1px solid var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.13))));
      border-top: none;
      border-bottom: none;
      border-left: none;
      --side-min-width: 300px;
      --side-width: 300px;
    }
  }
}

// active link
ion-menu-toggle.hs-main-menu {
  ion-item {
    ion-icon {
      margin-right: 16px;
      color: var(--ion-color-medium);
    }
    ion-label {
      font-size: 90%;
    }
    &.active-link {
      --background: var(--ion-background-color);
      border-right: 3px solid var(--ion-color-primary);
      --color: var(--ion-color-primary);
      font-weight: bold;
      ion-icon {
        color: var(--ion-color-primary);
      }
    }
  }

  ion-item-group {
    border-bottom: 1px solid var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.13))));
  }
}

ion-menu-toggle {
  ion-icon {
    color: var(--ion-color-medium);
  }
}

