<ion-app>
  <ion-split-pane contentId="main-content">

    <ion-menu side="end" contentId="main-content">
      <ion-header>
        <ion-toolbar mode="md">
          <ion-buttons slot="end">
            <ion-menu-toggle>
              <ion-button>
                <ion-icon slot="icon-only" name="close-outline"></ion-icon>
              </ion-button>
            </ion-menu-toggle>
          </ion-buttons>
          <ion-title>CINUMA</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Inbox</ion-list-header>
          <ion-note>hi@ionicframework.com</ion-note>

          <ion-item-group>
            <ion-item *ngIf="this.usuario != undefined || this.usuario != null"
                      [routerLink]="['/lista-personal']"
                      button="true" detail="false"
                      routerLinkActive="active-link">
              <ion-label>
                Personal List
              </ion-label>
            </ion-item>
            <ion-item *ngIf="this.usuario == undefined || this.usuario == null"
                      [routerLink]="['/user-register']"
                      button="true" detail="false"
                      routerLinkActive="active-link">
              <ion-label>
                Registro
              </ion-label>
            </ion-item>
            <ion-item *ngIf="this.usuario == undefined || this.usuario == null"
                      [routerLink]="['/user-login']"
                      button="true" detail="false"
                      routerLinkActive="active-link">
              <ion-label>
                Login
              </ion-label>
            </ion-item>
            <ion-item [routerLink]="['/pagina-principal']"
                      button="true" detail="false"
                      routerLinkActive="active-link">
              <ion-label>
                Principal
              </ion-label>
            </ion-item>
            <ion-item *ngIf="this.usuario != undefined || this.usuario != null"
                      [routerLink]="['/user-perfil']"
                      button="true" detail="false"
                      routerLinkActive="active-link">
              <ion-label>
                Perfil
              </ion-label>
            </ion-item>
            <ion-item [routerLink]="['/elemento-listado']"
                      button="true" detail="false"
                      routerLinkActive="active-link">
              <ion-label>
                Lista de Series/Peliculas
              </ion-label>
            </ion-item>
            <ion-item [routerLink]="['/lista-personal']"
                      button="true" detail="false"
                      routerLinkActive="active-link">
              <ion-label>
                Lista Personal
              </ion-label>
            </ion-item>
            <ion-item [routerLink]="['/lista-listado']"
                      button="true" detail="false"
                      routerLinkActive="active-link">
              <ion-label>
                Listas
              </ion-label>
            </ion-item>
          </ion-item-group>
        </ion-list>
      </ion-content>
      <ion-item>
        <ion-button (click)="deleteData()"> LOG OUT</ion-button>
      </ion-item>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
