<ion-header>
  <ion-toolbar>
    <ion-title>Crear Lista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="hs">
  <ion-grid>
    <ion-row fill="solid" mode="md"  *ngFor="let elemento of elementosAgregados">
      <ion-card>{{elemento.titulo}}</ion-card>
      <ion-icon name="close-circle-outline" (click)="removerElementoDeLista(elemento.elementoId)"></ion-icon>
    </ion-row>
  </ion-grid>
  <div *ngIf="elementos != undefined">
    <ion-button (click)="asignacionValorElemento()">CREAR</ion-button>
    <ion-list *ngFor="let elemento of elementos">
      <div *ngIf="elemento != undefined">
        <ion-card (click)="agregarElemento(elemento)">
          <ion-item>
            <ion-label class="ion-text-wrap">
              <ion-grid class="ion-no-padding">
                <ion-row class="ion-text-start">
                  <ion-col size="6">
                    {{elemento.titulo}}
                    <ion-badge color="primary" *ngIf="elemento.tipo == 0">SERIE</ion-badge>
                    <ion-badge color="primary" *ngIf="elemento.tipo == 1">PELICULA</ion-badge>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="3" *ngIf="elemento.tipo == 0" class="ion-text-start"><ion-text><ion-label>Capítulos: {{elemento.capitulos}}</ion-label></ion-text></ion-col>
                  <ion-col size="6" class="ion-text-start">
                    <ion-text *ngIf="elemento.tipo == 0 && elemento.estreno != undefined">Estreno: {{elemento.estreno | date:'dd/MM/yyyy'}}</ion-text>
                    <ion-text *ngIf="elemento.tipo == 1 && elemento.estrenoTaquilla != undefined">Estreno en taquilla: {{elemento.estrenoTaquilla | date:'dd/MM/yyyy'}}</ion-text>
                  </ion-col>
                  <ion-col class="ion-text-end">
                    <ion-label><strong>Generos</strong></ion-label>
                  </ion-col>
                </ion-row>
                <ion-row *ngFor="let genero of elemento.genero">
                  <ion-col class="ion-text-end"><ion-text>{{genero}}</ion-text></ion-col>
                </ion-row>
              </ion-grid>
            </ion-label>
          </ion-item>
        </ion-card>
      </div>
    </ion-list>
  </div>
</ion-content>
