<ion-header>
  <ion-toolbar>
    <ion-title>Crear Lista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="hs">
  <div *ngIf="elementos != undefined">
    <ion-list *ngFor="let elemento of elementos">
      <div *ngIf="elemento != undefined">
        <ion-card (click)="agregarElemento(elemento)">
          <ion-item>
            <ion-label class="ion-text-wrap">
              <ion-grid class="ion-no-padding">
                <ion-row>
                  <ion-col size="9">{{elemento.titulo}}</ion-col>
                  <ion-col *ngIf="elemento.tipo == 0" class="ion-text-end"><ion-badge color="primary">SERIE</ion-badge></ion-col>
                  <ion-col *ngIf="elemento.tipo == 1" class="ion-text-end"><ion-badge color="primary">PELICULA</ion-badge></ion-col>
                </ion-row>
                <ion-row>
                  <ion-col *ngIf="elemento.tipo == 0" class="ion-text-end"><ion-text>{{elemento.capitulos}}</ion-text></ion-col>
                  <ion-col *ngIf="elemento.tipo == 0" class="ion-text-end"><ion-text>{{elemento.estreno}}</ion-text></ion-col>
                  <ion-col *ngIf="elemento.tipo == 1" class="ion-text-end"><ion-text>{{elemento.estrenoTaquilla}}</ion-text></ion-col>
                </ion-row>
                <ion-row *ngFor="let genero of elemento.genero">
                  <ion-col class="ion-text-end"><ion-text>{{genero}}</ion-text></ion-col>
                </ion-row>
              </ion-grid>
            </ion-label>
          </ion-item>
        </ion-card>
      </div>
    </ion-list>
    <ion-button (click)="asignacionValorElemento()">CREAR</ion-button>
  </div>
</ion-content>
