<ion-header>
  <ion-toolbar>
    <ion-title>Grupos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item *ngIf="this.recomendado != undefined">
    <ion-label>
      <ion-text>Le recomendamos el siguiente grupo:</ion-text>
    </ion-label>
  </ion-item>
  <div *ngIf="this.recomendado != undefined">
    <ion-list>
      <ion-card (click)="irADetallesDeGrupo(recomendado)">
        <ion-item>
          <ion-label class="ion-text-wrap">
            <ion-grid class="ion-no-padding">
              <ion-row>
                <ion-col ><ion-text><strong>Nombre del Grupo: </strong>{{recomendado.nombre}}</ion-text></ion-col>
                <ion-col ><ion-text><strong>Descripción: </strong>{{recomendado.descripcion}}</ion-text></ion-col>
              </ion-row>
            </ion-grid>
          </ion-label>
        </ion-item>
      </ion-card>
    </ion-list>
  </div>
  <ion-item>
    <ion-label>
      <ion-text>Grupos:</ion-text>
    </ion-label>
  </ion-item>
  <div *ngIf="this.grupos != undefined">
    <div *ngIf="this.grupos.length>0">
      <ion-list *ngFor="let grupo of grupos">
        <ion-card (click)="irADetallesDeGrupo(grupo)">
          <ion-item>
            <ion-label class="ion-text-wrap">
              <ion-grid class="ion-no-padding">
                <ion-row>
                  <ion-col ><ion-text><strong>Nombre del Grupo: </strong>{{grupo.nombre}}</ion-text></ion-col>
                  <ion-col ><ion-text><strong>Descripción: </strong>{{grupo.descripcion}}</ion-text></ion-col>
                </ion-row>
              </ion-grid>
            </ion-label>
          </ion-item>
        </ion-card>
      </ion-list>
    </div>
  </div>

  <ion-item>
    <ion-button (click)="crearNuevoGrupoModal()">
      Crear Nuevo Grupo
    </ion-button>
  </ion-item>
</ion-content>

